In [3]:
import pandas as pd
import mysql.connector
from datetime import datetime

In [4]:
def get_connection():
    return mysql.connector.connect(
        host="localhost",
        user="root",
        password="0007",
        database="client_query_db"
    )

In [20]:
csv_path="C:/Users/saran/Downloads/sample_queries_250.csv"
df = pd.read_csv(csv_path,index_col=0)          
print("csv_inserted")

csv_inserted

In [21]:
df

,mobile,query_heading,query_description,status,query_created_time,query_closed_time
email,,,,,,
muthu.m60@cts.com,6322625409,Error while submitting form,Form submission fails with unexpected error me...,Closed,7/25/2025 9:43,8/3/2025 9:43
vignesh.k80@zoho.com,7308984569,Error while submitting form,Form submission fails with unexpected error me...,Closed,9/25/2024 22:45,10/24/2024 22:45
sowmya.k85@infosys.com,7547142705,Bug in report generation,Generated report shows incorrect or missing data,Open,9/23/2025 7:28,NaN
subramanian.t25@wipro.com,6031467470,Unable to reset password,Password reset link not working for multiple a...,Closed,10/27/2024 3:19,11/6/2024 3:19
bhuvana.g19@infosys.com,9418641731,Access denied to resource,Access denied while opening restricted project...,Closed,5/2/2025 22:43,5/5/2025 22:43
...,...,...,...,...,...,...
devi.s89@wipro.com,8276897920,Problem with file upload,File upload fails with unsupported format or t...,Open,9/20/2025 19:27,NaN
prakash.s11@zoho.com,7838732375,Unable to reset password,Password reset link not working for multiple a...,Closed,1/31/2025 6:35,2/26/2025 6:35
vignesh.t72@cts.com,9790913660,Login issue in portal,User unable to login with correct credentials ...,Closed,4/18/2025 16:30,5/18/2025 16:30
rajesh.p69@wipro.com,7897083229,Problem with file upload,File upload fails with unsupported format or t...,Closed,4/13/2025 8:08,4/24/2025 8:08
murugan.g94@infosys.com,9165735451,Database connection error,Unable to connect to database due to timeout i...,Open,5/16/2025 7:07,NaN

In [22]:
import streamlit as st